.d-flex {
  display: flex;
}

.sidebar {
  width: 250px; /* Adjust as needed */
  min-height: 100vh; /* Full height */
  background-color: #f8f9fa; /* Light background */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-top: 60px; /* Same as Navbar height */
}
